<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>

  <system.serviceModel>
    
    <services>
      <service behaviorConfiguration="NetTcpSslCertBehavior" name="ReproService.NetTcpService">
        <endpoint address="" binding="customBinding" bindingConfiguration="CustomNetTcp" contract="ReproService.INetTcpService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8733/Design_Time_Addresses/Repro/Service1/"/>
            <add baseAddress="http://localhost:8734/Design_Time_Addresses/Repro/Service1/"/>
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
        <behavior name="NetTcpSslCertBehavior">
          <serviceCredentials>
            <serviceCertificate findValue="local" storeLocation="CurrentUser" storeName="TrustedPeople" x509FindType="FindBySubjectName"/>
          </serviceCredentials>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <customBinding>
        <binding name="CustomNetTcp">
          <sslStreamSecurity/> <!-- For NET 4.6, sslStreamSecurity has a new attribute sslProtocols that can be used to avoid this issue -->
          <binaryMessageEncoding/>
          <tcpTransport transferMode="Buffered"/>
        </binding>
      </customBinding>
    </bindings>
    
  </system.serviceModel>
<!-- Uncomment this to enable WCF tracing
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing" propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="xml">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="xml">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>

    <sharedListeners>
        <add name="xml"
				   type="System.Diagnostics.XmlWriterTraceListener"
				   initializeData="c:\temp\nettcp-repro.svclog" />
      </sharedListeners>

      <switches>
			  <add name="DefaultSwitch" value="All"/>
		  </switches>
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" 
                      logMalformedMessages="true" 
                      logMessagesAtServiceLevel="true" 
                      logMessagesAtTransportLevel="true"/>
    </diagnostics>
  </system.serviceModel>
-->
</configuration>
